let mapleader = " "

set incsearch
set hlsearch
set ignorecase
set smartcase

map [[ <Action>(MethodUp)
map ]] <Action>(MethodDown)

map <leader>b <Action>(Switcher)
map <leader>f <Action>(GotoFile)
map <leader>. <Action>(QuickJavaDoc)
map <leader>? <Action>(ShowErrorDescription)
map <leader>g <Action>(EditorSelectWord)<Action>(FindInPath)
map <leader>i <Action>(RenameElement)
" map <leader>t <Action>(Refactorings.QuickListPopupAction)

packadd! matchit
Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'
Plug 'michaeljsmith/vim-indent-object'
Plug 'kana/vim-textobj-entire'
