let mapleader = " "

set incsearch
set hlsearch
set ignorecase
set smartcase

map [[ <Action>(MethodUp)
map ]] <Action>(MethodDown)

map <leader>bb <Action>(Switcher)
map <leader>ff <Action>(GotoFile)
map <leader>ch <Action>(QuickJavaDoc)
map <leader>c? <Action>(ShowErrorDescription)
map <leader>g <Action>(EditorSelectWord)<Action>(FindInPath)
map <leader>cr <Action>(RenameElement)
map <leader>cj gd
" map <leader>t <Action>(Refactorings.QuickListPopupAction)
map <leader>so <Action>(IdeaVim.ReloadVimRc.reload)

packadd! matchit
Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'
Plug 'michaeljsmith/vim-indent-object'
Plug 'kana/vim-textobj-entire'
