[Unit]
Description=Forwarding Proxy Service
After=network-online.target

[Service]
User="$u"
Type=simple
Environment="AUTOSSH_GATETIME=0"
ExecStart=/usr/bin/autossh -M 0 -o "ServerAliveInterval 60" -o "ServerAliveCountMax 10" -4 -CNL <local_port>:127.0.0.1:<remote_port> <login>@<hostname> -i "/path/to/identity_file"

[Install]
WantedBy=multi-user.target
