let mapleader = " "

set incsearch
set hlsearch
set ignorecase
set smartcase
" See https://github.com/JetBrains/ideavim/blob/master/doc/ideajoin-examples.md
set ideajoin
set clipboard=ideaput
set ideamarks

"" Movement-related
map <leader>bb <Action>(Switcher)
map <leader>ff <Action>(GotoFile)
map ]b <Action>(NextTab)
map [b <Action>(PreviousTab)
map ]c <Action>(VcsShowNextChangeMarker)
map [c <Action>(VcsShowPrevChangeMarker)
" Alternatives: C-A-] and C-A-[
map ]p <Action>(NextProjectWindow)
map [p <Action>(PreviousProjectWindow)
map <leader>ww <Action>(HideAllWindows)

"" Code actions
map gr <Action>(RenameElement)
map gh <Action>(ShowHoverInfo)
map gi <Action>(QuickImplementations)
map [[ <Action>(MethodUp)
map ]] <Action>(MethodDown)
map <leader>. <Action>(EditorSelectWord)<Action>(FindInPath)
map <leader>/ <Action>(FindInPath)
map <leader>rr <Action>(ChooseRunConfiguration)

" Only takes effect in this source file
map <leader>sv <Action>(IdeaVim.ReloadVimRc.reload)

"" Vim/Nvim
map <C-n> :noh<CR>
inoremap <A-u> <esc>gUiwea
" Auto-indent reformats the entire file, which is unintended and has been commented out.
" nnoremap <A-j> :m .+1<CR>==
" nnoremap <A-k> :m .-2<CR>==
" inoremap <A-j> <Esc>:m .+1<CR>==gi
" inoremap <A-k> <Esc>:m .-2<CR>==gi
" vnoremap <A-j> :m '>+1<CR>gv=gv
" vnoremap <A-k> :m '<-2<CR>gv=gv

"" Plugins
packadd! matchit
Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'
Plug 'michaeljsmith/vim-indent-object'
Plug 'kana/vim-textobj-entire'
Plug 'justinmk/vim-sneak'
Plug 'vim-scripts/argtextobj.vim'
